<div class="Login">
    <label class="Label"   for="uname"><b>Username</b></label>
    
    <input id="User" #User  type="text" placeholder="Enter Username" name="uname"  required>
    <label class="Label" for="psw"><b>Password</b></label>
    <input  id="Password" #Password type="password" placeholder="Enter Password" value=""  name="psw" required>

    <button type="button"  (click)="onSelect(User.value, Password.value)">Login</button>
    <button type="button"  (click)="userCreation()">User Creation</button>
</div>
